$bg-primary: #fff;
$bg-secondary: #f4f6fb;
$bg-stone-to-accent: #282d3c;
$bg-icon: #8c94a8;
$border-light: #DDDDDD;
$text-primary: #2a2a30;
$text-secondary: #282d3c;
$text-secondary-active: #788095;
$acent: #007bfb;
$acent-light: #007bfb33;
$lines-pimary: #ecf0f8;


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
    color: $text-primary;
}

a {
    text-decoration: none;
    color: $text-primary;
}

@media screen and (max-width: 720px) {
    body {
        margin: 16px;
    }

}