@use '../../index';

.searchBarContainer {
    width: 100%;
    padding: 0 40px;
    border-top: index.$bg-secondary 1px solid;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 4px 8px rgba(40, 45, 60, .04), 0 0 2px rgba(40, 45, 60, .05), 0 0 1px rgba(40, 45, 60, .04);
    background-color: white;

    form {
        height: 160px;
        border-bottom: index.$bg-secondary 1.5px solid;
    }
}


h6 {
    color: index.$text-secondary-active;
    font-weight: 400;
    margin: 0 0 10px 0;
    padding: 0;
}

label {
    &:hover {
        cursor: pointer;
    }
}

.formContainer {
    display: flex;
    height: 56px;
    justify-content: space-between;

}

.submitAndClearContainer {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;

    .clearFilter,
    .resultSubmit {
        cursor: pointer;

        &:hover {
            opacity: 0.7;
            transition: ease 0.5;
        }
    }

    // .resultSubmit {
    //     color: index.$acent;
    // }
}


.buttons {
    height: 56px;
    width: 384px;
    display: flex;
    justify-content: space-between;

    .btn {
        background-color: #f4f6fb;
        border: none;
        border-radius: 8px;
        color: index.$text-secondary;
        font-size: 16px;
        padding: 13px 24px;
        font-weight: 600;
        transform: scale(1);
        transition: all .3s ease;

        &:hover {
            border-radius: 25px;
            color: index.$acent;
        }
    }

    .activeBtn {
        background-color: index.$acent;
        color: #f4f6fb !important;
    }
}

.btnSubmit {
    background-color: #f4f6fb;
    border: none;
    border-radius: 25px;
    color: index.$acent;
    font-size: 14px;
    padding: 13px 24px;
    font-weight: 500;
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
        border-radius: 5px;
    }
}

.responsiveContainer {
    display: none;
}

.hiddenFilter {
    visibility: visible;
}

#contrastColor {
    color: index.$text-secondary;
}

@media screen and (max-width:1320px) {
    .responsiveContainer {
        display: flex;
    }

    .searchBarContainer {
        form {
            height: 100%;
            // background-color: aqua;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: index.$bg-secondary 1.5px solid;
        }
    }


    .formContainer {
        // background-color: aquamarine;
        height: 70%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    label {
        margin-top: 10px;
    }

    .submitAndClearContainer {
        display: flex;
        width: 512px;
        justify-content: space-between;
        // background-color: yellow;
        padding: 20px 0;
    }

    .btnFilter {
        display: flex;
        background-color: #f4f6fb;
        border: none;
        border-radius: 25px;
        color: index.$acent;
        font-size: 20px;
        padding: 20px 200px;
        font-weight: 500;
        transition: all .3s ease;
        cursor: pointer;
        margin-bottom: 20px;

        &:hover {
            border-radius: 5px;
            background-color: index.$acent;
            color: #f4f6fb;
        }
    }

    .activeBtnFilter {
        display: flex;
        background-color: index.$acent;
        border: none;
        border-radius: 8px;
        color: #f4f6fb;
        font-size: 16px;
        padding: 13px 24px;
        font-weight: 600;
        transform: scale(1);
        transition: all .3s ease;
        margin-bottom: 20px;

        &:hover {
            border-radius: 25px;
        }
    }

    .hiddenFilter {
        display: none;
    }
}

// @media screen and (max-width:800px) {
//     .responsiveContainer {
//         display: flex;
//     }
// }